[Unit]
Description=PsmSsp
After=CcspCr.service

[Service]
ExecStart=/usr/bin/PsmSsp &
Type=forking
Restart=always

[Install]
WantedBy=multi-user.target
