[Unit]
Description=CcspCrSsp
After=dbus.service
OnFailure=systemd-LastRebootReason.service

[Service]
ExecStart=/usr/bin/CcspCrSsp &
Type=forking

[Install]
WantedBy=multi-user.target
