[Unit]
Description=CcspLMLite
After=CcspPandM.service CcspWiFiAgent.service
Requires=network-setup.service CcspWiFiAgent.service

[Service]
ExecStart=/bin/sh -c '/usr/bin/startlmlite.sh;'
Type=forking

[Install]
WantedBy=multi-user.target

