[Unit]
Description=CcspTr069PaSsp
After=CcspCr.service CcspPandM.service CcspWiFiAgent.service

[Service]
ExecStart=/usr/bin/CcspTr069PaSsp &
Type=forking
Restart=always

[Install]
WantedBy=multi-user.target

