[Unit]
Description=CcspPandMSsp
Requires=network-setup.service
After=CcspPsm.service network-setup.service

[Service]
ExecStart=/usr/bin/CcspPandMSsp &

[Install]
WantedBy=multi-user.target

