[Unit]
Description=CcspLMLite
After=CcspPandM.service CcspWiFiAgent.service
Requires=network-setup.service CcspWiFiAgent.service

[Service]
ExecStart=/usr/bin/CcspLMLite &

[Install]
WantedBy=multi-user.target

