[Unit]
Description=PsmSsp
After=com.cisco.spvtg.ccsp.CR.service

[Service]
ExecStart=/usr/bin/PsmSsp &
Type=forking

[Install]
WantedBy=multi-user.target
