[Unit]
Description=unit file for snmp_subagent application

[Service]
Type=forking
ExecStart=/usr/bin/snmp_subagent &
Restart=always

[Install]
WantedBy=multi-user.target
